/* commons */
.text-center{
    text-align: center;
}
h2{
    color: goldenrod;
}
h3{
    font-style: italic;
}
/* inizio stile header */
header{
    background-color: #EDEDED;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: goldenrod;
    /* fine stile header */
    /* inizio stile footer */
}
footer{
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: goldenrod;
    font-size: 10px;
}
    /* fine stile footer */

#profile-pic{
    height: 250px;
}
/* fine stile header */